<style type="text/css">
    .fs-container {
        width: 80%;
        margin: auto;
    }

    .literally {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .lc {
        height: 80vh;
    }
</style>
<script src="/js/canvas.js" defer></script>


<div class="fs-container">
    <div class="lc" id="lc"></div>
</div>

<form>
    <input type="checkbox" id="public" value="public">
    <label for="public">Public image</label>
    <br>
    <input type="submit" id="save-as" value="Save As">
    <input type="submit" id="save" value="Save">
</form>

<link rel="stylesheet" href="/css/canvas.css">