<script src="/js/image.js" defer></script>

<h1>{{ image.title }}</h1>
<h5>By {{ author.username }}</h5>

<div class="image-container"></div>

<script>
    const snapshot = {{{ stringify image.snapshot }}}
</script>

<link rel="stylesheet" href="/css/image.css">