
form {  
    padding-left: 100px;  
    font-size: 20px;  
    color: #515151;  
    font-family: sans-serif;
    width: fit-content;
    margin: auto;
}  

form label {  
   font-weight:0;  
}  

form input{  
    border-radius: 8px;  
    font-family: sans-serif;    
    border: 0;  
}  

input:hover {  
    background-color: #b5b4b4;  
}
