h1 { 
    color: #515151; 
    text-align: center; 
    font-size: 50px;  
    padding-bottom: 100px;   

}

#pictures {
    justify-content: center; 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
    text-align: center;
}

#pictures canvas {
    width: 350px;
    height: 350px;
    border: 5px solid #515151;
    background-color: white;  
}

#pictures a {
    color: #515151;
    font-size: 30px;
    font-family: sans-serif;
}